<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
    <h1>Create Event</h1>
    <p th:text="${errorMsg}" style="color:red"></p>

    <form method="post" action="/events/create">
        <div class="form-group">
            <label> Name
                <input type="text" th:field="${event.name}" class="form-control">
            </label>
            <p class="error" th:errors="${event.name}"></p>
            <br/>
            <label> Description
                <input type="text" th:field="${event.eventDetails.description}" class="form-control">
            </label>
            <p class="error" th:errors="${event.eventDetails.description}"></p>
            <br>
            <label>Contact Email
                <input type="email" th:field="${event.eventDetails.contactEmail}" class="form-control">
            </label>
            <p class="error" th:errors="${event.eventDetails.contactEmail}"></p>
            <br>
            <label>Location
                <input type="text" th:field="${event.eventDetails.location}" class="form-control">
            </label>
            <p class="error" th:errors="${event.eventDetails.location}"></p>
            <br>
            <label>Confirm Registration
                <br>
                <input id="checkbox" type="checkbox" th:field="${event.eventDetails.registrationRequired}">
            </label>
            <p class="error" th:errors="${event.eventDetails.registrationRequired}"></p>
            <br>
            <label>Number of Attendees
                <input type="number" th:field="${event.eventDetails.numberOfAttendees}">
            </label>
            <p class="error" th:errors="${event.eventDetails.numberOfAttendees}"></p>
            <br>
            <label>Category
                <select th:field="${event.eventCategory}">
                    <option th:each="eventCategory : ${categories}"
                            th:value="${eventCategory.id}"
                            th:text="${eventCategory.name}">
                    </option>
                </select>
                <p class="error" th:errors="${event.eventCategory}"></p>
            </label>
            <br>
        </div>
        <div class="form-group">
            <input type="submit" value="Create Event" class="btn btn-success">
        </div>
    </form>

</body>
</html>