<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <style>
        .auto-width {
            white-space: nowrap;
        }
    </style>
</head>
<body class="container">
<nav th:replace="fragments :: header"></nav>

<p th:unless="${events}">No events have been added. </p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="auto-width">Name</th>
                <th>Description</th>
                <th class="auto-width">Event ID</th>
            </tr>
        </thead>
        <tr th:each="event : ${events}">
                <td class="auto-width" th:text="${event.name}">Event</td>
                <td th:text="${event.description}">Description</td>
                <td th:text="${event.id}"></td>
        </tr>
    </table>
<p><a href="/events/create">Click here</a> to add an event.</p>

</body>
</html>