<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <style>
        .auto-width {
            white-space: nowrap;
        }
    </style>
</head>
<body class="container">
<nav th:replace="fragments :: header"></nav>

<p th:unless="${events}">No events have been added. </p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="auto-width">Name</th>
                <th>Description</th>
                <th>Contact Email</th>
                <th>Category</th>
                <th class="auto-width">Edit Event</th>
            </tr>
        </thead>
        <tr th:each="event : ${events}">
                <td class="auto-width"><a th:text="${event.name}" th:href="@{/events/detail(eventId=${event.id})}">Event</a></td>
                <td th:text="${event.eventDetails.description}">Description</td>
                <td th:text="${event.eventDetails.contactEmail}">Email</td>
                <td th:text="${event.eventCategory.name}">Type</td>
                <td><a th:href="@{/events/edit/{id}(id=${event.id})}">Edit</a></td>
        </tr>
    </table>
<p><a href="/events/create">Click here</a> to add an event.</p>

</body>
</html>